bin/
tmp/
*.tmp
local.properties
.settings/
.loadpath
.recommenders

# Gradle specific
.gradle
build/

# Eclipse Core
.project
.classpath

# Project related dependencies
audio_work/
out/
